@import "~styles/variables";
:global(#publishing-ui-app-container) {
  .linkTagVariable{
    margin-bottom: 14px;

    &:last-child{
      margin-bottom: 0;
    }

    .variableInput {
      input {
        outline: 0;
        border-radius: 3px;
        height: 36px;
        width: 100%;
        border: 1px solid $rad-dirtysheep;
        padding: 11px;
        &:focus {
          border-color: $rad-tahiti;
        }

        &.error {
          border-color: $rad-punch;
        }
      }
    }
  }
}