@import "~styles/variables";

@mixin fullScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@mixin spaced-centered-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin arrow-up($triangle-size, $triangle-color) {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -$triangle-size;
  border-left: $triangle-size solid transparent;
  border-right: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $triangle-color;
}

@mixin divider {
  width: $divider_width;
  height: $divider_height;
  border: $divider_border;
  margin-top: 26px;
  margin-bottom: 22px;
}

@mixin optionBarTitles {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: $rad-emperor;
}

@mixin sidebar-header {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: $rad-emperor;
    text-transform: uppercase;
}

@mixin text-input {
  outline: none;
  font-size: 14px;
  height: 35px;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: none;
}

@mixin standard-shadow {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}
