@import "~rad/styles/colors";

@mixin visible($display: null) {
  opacity: 1;
  @if (type-of($display) == string) {
    display: $display;
  }
}

@mixin error {
  color: $rad-punch;
}

@mixin improvement {
  color: $rad-butternut;
}

@mixin permissionError {
  color: $rad-sunglow;
}

@mixin errorBorder {
  border-color: $rad-punch;
}

@mixin improvementBorder {
  border-color: $rad-butternut;
}

@mixin permissionErrorBorder {
  border-color: $rad-sunglow;
}
