@import "~rad/styles/colors";
@import "variables";
@import "~reactLibStyles/Tooltip.scss";
@import "~styles/mixins/LayoutMixins";
@import "~reactLibStyles/ProductNav.scss";

//NOTE: some of these defaults were taken from normalize.scss
//      and reboot.scss, because we want to scope all of the relevent
//      style decisions to just our component

#publishing-ui-app-container {
  @import "normalize";
  @import "reboot";
  @import "~reactLibStyles/LoadingAnimation.scss";

  box-sizing: border-box;
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2

  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // Make the `body` use the `font-size-root`
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1;
  // Go easy on the eyes and use something other than `#000` for text
  color: $rad-emperor;
  // By default, `<body>` has no `background-color` so we set one as a best practice.
  background-color: $rad-alabaster;

  height: 100vh;
  min-width: 1024px;
  min-height: 450px;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  div {
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  div:focus {
    outline:none;
  }

  textarea {
    resize: none;
  }

  button:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    line-height: normal;
    color: $rad-alto;
    font-style: italic;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $rad-alto;
     font-style: italic;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $rad-alto;
     font-style: italic;
  }

  :-ms-input-placeholder {
     line-height: normal;
     color: $rad-alto;
     font-style: italic;
  }

  .public-DraftEditorPlaceholder-inner {
    position: absolute;
    color: $rad-chalice;
  }

  /** Overwrites for react-widgets ComboBox */
  .rw-combobox.rw-widget {
    border: 1px solid $rad-dirtysheep;

    &.error {
      border-color: $rad-punch;
    }

    &:hover {
      background-color: $rad-snow;
    }

    &.rw-state-focus {
      box-shadow: none;
    }

    .rw-select.rw-btn {
      display: none;
    }

    .rw-popup.rw-widget {
      ul {
        margin-bottom: 0;

        li.rw-list-option {
          line-height: 20px;
          padding: 5px 10px;
          border-radius: 0;
          font-size: 12px;
          color: $rad-emperor;
          border: none;
          cursor: pointer;
          outline: 0;

          &.rw-state-focus, &.rw-state-focus.rw-state-selected {
            color: $rad-snow;
            background-color: $rad-tijuana;
          }

          &:hover {
            color: $rad-tijuana;
            background-color: $rad-gallery;
          }
        }
      }

      .rw-list-empty {
        padding: 10px;
        text-align: center;
        color: $rad-dirtysheep;
      }
    }

    input {
      box-shadow: none;
    }
  }

  /** Overwrites for react-widgets Calendar **/
  .rw-calendar.rw-widget {
    border: none;
    background: transparent;

    .rw-header {
      padding-bottom: 50px;
      position: relative;

      .rw-btn-view {
        border: none;
        background: none;
        color: $rad-emperor;
        opacity: 1;
        font-size: 16px;
        text-transform: uppercase;
      }

      .rw-btn {
        box-shadow: none;
        background-color: transparent;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        position: absolute;

        &.rw-btn-left, &.rw-btn-right {
          &:hover {
            color: $rad-tahiti;
          }

          &[disabled] {
            opacity: 0;
          }
        }

        &.rw-btn-left {
          left: 0;
        }

        &.rw-btn-right {
          right: 0;
        }

        &.rw-btn-view {
          width: 100%;
          border: none;
          background: none;
          color: $rad-emperor;
          opacity: 1;
          font-size: 16px;
          text-transform: uppercase;
          right: 0;
          left: 0;
        }
      }

      /* Styles copied from icons, but icons will auto update and
         kick these styles out of that sheet
      */
      .rw-i-caret-right:before,
      .rw-i-caret-left:before, {
        display: inline-block;
        font-family: "publishingIcons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;

        position: absolute;
        top: 6px;
        left: 3px;
        right: 0px;
      }

      .rw-i-caret-right:before { content: "\f106"; }
      .rw-i-caret-left:before { content: "\f105"; }
    }

    thead {
      font-size: 12.8px;
      tr {
        border: none;

        th {
          font-weight: 600;
          text-align: center;
        }
      }
    }

    tbody {
      font-size: 11.7px;
      td {
        .calendarDay {
          border: 1px solid transparent;
          &.outOfDate {
            border: 1px solid transparent;
          }
        }

        .rw-btn {
            margin: 3px;
            display: block;
            overflow: hidden;
            text-align: center;
            white-space: normal;
            line-height: 28px;
            padding: 0;
            width: auto;
            border-radius: 50%;
            cursor: default;

            .calendarDay {
                cursor: pointer;

                &.outOfDate {
                  cursor: default;
                }
            }

            &:hover {
              background-color: transparent;

              .calendarDay {
                background-color: $rad-gallery;

                &.outOfDate {
                  background-color: transparent;
                }
              }
            }
        }

        .rw-off-range {
          display: none;
        }

        .rw-state-focus, .rw-state-selected {
          border: 0;
          background-color: transparent;
        }

        .rw-state-selected, .rw-state-selected:hover {
          .calendarDay {
            background-color: $rad-tahiti;
            color: $rad-snow;
            &.outOfDate {
              background-color: $rad-punch;
            }
          }
        }
      }
    }
  }

  /* out apps global popover */
  .multiPubsPopover {
    width: auto;
    position: fixed;
    z-index: 999;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1;
    padding: 20px;
    background-color: $rad-emperor;
    margin-top: 20px;
    border-radius: 5px;
    color: $rad-snow;

    .multiPubsPopoverTitle {
      font-weight: 600;
    }

    &.multiPubsPopoverArrowUp {
      &:before {
        @include arrow-up(5px, $rad-emperor);
      }
    }
  }
}

/* transition styles for post preview pop-up */
.rc-tooltip.post-preview-tooltip {

  @import "~socialMediaPreview/build/style.scss";

  &.post-preview-toggle-appear,
  &.post-preview-toggle-enter {
    opacity: 0;
  }

  &.post-preview-toggle-appear-active,
  &.post-preview-toggle-enter-active {
    opacity: 1.0;
    transition: opacity $post_preview_transition_time ease-in;
  }

  &.post-preview-toggle-leave {
    opacity: 1.0;
  }
  &.post-preview-toggle-leave-active {
    opacity: 0;
    transition: opacity $post_preview_transition_time ease-in;
  }

  .rc-tooltip-inner {
    height: auto;
    max-height: 100%;

    .social-media-preview .preview-post-details .name {
      text-transform: none;
    }

    .social-media-preview .disclaimer {
      color: #ffffff;
    }
  }

  &.post-preview-arrow-hidden {
    .rc-tooltip-arrow {
      visibility: hidden;
    }
  }
}
