// NOTE: Please keep the categories alphabetically ordered

// Image & ImageError
$media_removal_button: 3;
$media_text_overlay: 2;
$media_error_overlay: 1;

// LinkPreview
$dragging_media_overlay: 4;
$thumbnail_holder: 100;

// Main
$post_preview_overlay: 2;
$permission_blocking_overlay: 5;

// MentionQuery
$mentions_query_index: 60;

// MessageboxHeader
$message_header_preview_icon: 3;

// OptionsSideBar
$options_button_container_index: 2;
$options_context_menu_index: 1;

// DropdownSection
$dropdown_color_bar: 1;

// SidebarButton
$active_sidebar_button_index: 200;

// Video
$video_left_col: 3;

// VideoPlayer
$video_player: 10;

// VideoThumbNail
$video_dragging_media_overlay: 4;
$video_customize_thumb_menu: 2;
$video_play_icon: 1;

// VoiceList
$voice_list_container_index: 11;
$voice_list_parent_div_container: 12;

//FrameGrabModal
$selected_frame_grab_thumb: 2;
