@import "~rad/styles/variables";
@import "variables_layout";
@import "variables_zIndex";

//PlanPicker
$planPicker-title-width: 202px;
$planPicker-title-height: 22px;
$planPicker-title-font-size: 16px;
$planPicker-text-font-size: 14px;
$planPicker-text-margin-bottom: 4px;
$planPicker-chevron-position: absolute;
$planPicker-chevron-top: 23%;
$planPicker-chevron-right: 3%;
$planPicker-chevron-background-color: inherit;
$planPicker-chevron-border: none;
$planPicker-choiceText-width: 253px;

//ColorBar for planPicker and messageTitle
$colorBar-width: 7px;
