//variables related to the layout of the elements
$scheduler_width: 309px;
$message_height: 150px;
$message_margin: 10px;
$standard_padding: 10px;

// OptionsSideBar size vars
$options_side_bar_button_height: 72px;
// OptionsSideBar tranisition vars
$options_side_bar_width_closed: 72px;
$options_side_bar_width_open: 360px;
$options_side_bar_context_menu: $options_side_bar_width_open - $options_side_bar_width_closed;

$sidebar_transition_time: 0.3s;
$sidebar_transition: $sidebar_transition_time ease-in;

// MessagePublishBar
$messagepublishbar_min_height: 52px;

// Mentions
$mentions_query_height: 60px;
$mentions_query_menu_max_height: calc(#{$mentions_query_height} * 5.5);
$mention_icon_width_and_height: 42px;

//This value should be slightly less than $sidebar_transition_time
// to keep it from overlapping the sidebar buttons on closing.
$close_button_appear_time: 0.2s;

//Message box values
$message_box_border_thickness: 1px;
$message_box_border_radius: 4px;
$message_box_header_min_width: 153px;

$message_box_min_height: 105px;
//SchedulerAgenda
$calendar_flex_height_basis: 200px;

//DateInput
$dateinput_scheduler_height: 154px;

//MessagerScheduler
$schedule_title_height: 64px;

//Twitter countdown box
$countdown_div_height: 30px;

//Global Validation Box
$validation_bar_transition_time: 0.3s;
$validation_bar_transition: $validation_bar_transition_time ease-in;

//Account Selector Box
$account_selector_bar_min_height: 60px;
$account_selector_bar_max_height: 94px;
$accountselector_filter_width: 170px;

//Media Bar
$media_bar_empty_height: 69px;
$media_bar_expanded_height: 155px;
$media_bar_image_height: 114px;
$media_bar_image_width: 217px;
$media_bar_video_width: 305px;

$media_bar_transition_time: 0.3s;
$media_bar_transition: $media_bar_transition_time ease-in;

//VideoThumbnail
$customize_thumbnail_menu_transition_time: 0.3s;
$customize_thumbnail_menu_transition: $customize_thumbnail_menu_transition_time ease-in;

//Link Preview
$link_preview_transition_time: 0.3s;
$link_preview_transition: $link_preview_transition_time ease-in;
$link_preview_scraping_animation_size: 57px;

//Post Preview
$post_preview_transition_time: 250ms;

//Message Title Box
$messageTitle-colorBar-height: 57px;

//divider styles
$divider_width: 250px;
$divider_height: 2px;
$divider_border: solid 1px #eeeeee;

//Notes
$note-input-bottom-offset: 10px;
$note-input-vertical-padding: 5px;
$note-input-horizontal-padding: 1%;
$note-menu-light-border-width: 1px ;
$note-menu-light-border-style: solid;
$note-menu-light-border-color: $rad-mercury;
$smooth-transition: all 0.15s linear;
$notes-menu-items-picker-height: 54px;
$note-input-collapsed-height: 105px;
$note-input-expanded-height: 165px;
$note-input-footer-height: 44px;
$note-input-button-height: 28px;
$note-separation: 22px;
$note-input-footer-padding: ($note-input-footer-height - $note-input-button-height)/2;
$note-list-input-buffer: 30px;
$content-padding: 5px;
$author-avatar-dimension: 35px;
$author-avatar-margin: 10px;
$content-width: calc(100% - #{$author-avatar-dimension} - #{$author-avatar-margin} - #{$content-padding} * 2);

@mixin smooth-transition {
    transition: $smooth-transition;
}

@mixin note-padding {
    padding-top: $note-separation;
    padding-bottom: $note-separation;
    padding-left: $content-padding;
    padding-right: $content-padding;
}

@mixin note-border {
    &:not(:last-child) {
        border-bottom: 1px solid $rad-mercury;
    }
}

//Network option bar
$network_bar_transition_time: 0.3s;
$network_bar_transition: $network_bar_transition_time ease-in;
$network_bar_height: 46px;
$network_bar_tab_button_width: 64px;
$network_bar_left_margin: 22px;

// VoiceList
$voicelist_calculated_height: $media_bar_empty_height + $account_selector_bar_max_height + $messagepublishbar_min_height + $messageTitle-colorBar-height;

$menu-section-margin: 25px;

//Frame Grab Modal
$framegrab_modal_height: 596px;
$framegrab_modal_width: 1024px;

$framegrab_modal_header_content_height: 20px;
$framegrab_modal_header_padding: 15px;
$framegrab_modal_header_height: $framegrab_modal_header_content_height + 2 * $framegrab_modal_header_padding;

$framegrab_modal_footer_content_height: 28px;
$framegrab_modal_footer_padding: 10px;
$framegrab_modal_footer_height: $framegrab_modal_footer_content_height + 2 * $framegrab_modal_footer_padding;

$framegrab_modal_content_height: $framegrab_modal_height - $framegrab_modal_footer_height - $framegrab_modal_header_height;

$framegrab_num_images_per_row: 4;
$framegrab_num_rows: 3;
$framegrab_image_spacing: 8px;
$framegrab_selected_image_border_width: 8px;

$framegrab_image_height: floor((($framegrab_modal_content_height - $framegrab_image_spacing) / $framegrab_num_rows) - $framegrab_image_spacing);

// Feature Placeholders
$placeholder-image-height: 250px;
$placeholder-image-margin-bottom: -50px;
$placeholder-image-margin-top: 60px;
