@import "~styles/variables";
@import "~styles/mixins/LayoutMixins";
:global(#publishing-ui-app-container) {

  .AssignDropDown {
      position: relative;
      margin-bottom: 5px;

      :global(.rw-input) {
        border-radius: 5px;
        background-color: $rad-snow;
      }
    }

    :global(.rw-combobox.rw-widget.rw-open .rw-popup-container .rw-popup.rw-widget ul.rw-list li.rw-list-option) {

      .conflictWrapper{
        opacity: 0.3;
        color: $rad-shark;

        .choiceContainer {
          position: relative;
          width: 100%;
          display: flex;

          .choiceTextDisabled {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: calc(100% - 13px);
            display: inline-block;
          }

          .warningIcon {
            height: 18px;
            width: 18px;
            padding-left: 5px;
          }}
      }
    }

    .warningWrapper {
      position: relative;

      .warningText {
        color: $rad-emperor;
        padding-top: 10px;
        margin-left: 20px;
        margin-top: -30px;
        padding-left: 5px;
        line-height: 18px;
        font-size: 13px;
        padding-right: 5px;

        .viewAccountSets{
          color: $rad-tahiti;
          cursor: pointer;
        }
      }

      .warningIcon{
        font-size: 18px;
        color: $rad-emperor;
      }

    }

    .comboBox {
      position: relative;
    }

}

:global(.rc-tooltip.rc-tooltip-placement-right .rc-tooltip-content .rc-tooltip-inner div h1) {
  font-size: 13px;
  line-height: 12px;
}
