@import "~styles/variables";
@import "~styles/variables_layout";
@import "~styles/mixins/LayoutMixins";
:global(#publishing-ui-app-container) {

  .basicsContextMenu {
    height: 100%;
    margin-right: -20px;

    .scrollableContainer{
      padding-top: 5px;
      height: calc(100% - 30px);
      overflow-y: auto;
      overflow-x: hidden;
    }

    & > div {
      margin-bottom: 14px;
      padding-right: 20px;
    }

    .title{
      @include sidebar-header;
      color: $rad-emperor;
    }

    .divider{
      @include divider;
    }
  }

}
