@import "~styles/variables";
@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {

  .label {
    position: relative;
    display: inline-block;
    padding: 5px;
    border: 1px solid $rad-alto;
    border-radius: 3px;
    background-color: $rad-mercury;
    margin-right: 5px;
    color: $rad-emperor;
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 100%;

    .labelName{
      line-height: normal;
      position: relative;
      display: inline-block;
      cursor: default;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 90%;
    }

    .closeButton {
      position: relative;
      display: inline;
      bottom: 4px;
      margin-left: 10px;
      width: 13px;
      height: 13px;
      cursor: pointer;
      font-size: 10px;
      color: $rad-emperor;
    }

    &.error {
      color: $rad-punch;
      background-color: transparentize($rad-punch, 0.9);
      border-color: $rad-punch;
      border-width: 2px;
      padding: 4;

      .closeButton {
        color: $rad-punch;
      }
    }
  }
}
