@import "~styles/variables";
:global(#publishing-ui-app-container) {

  .labelsWrapper {

    .text {
      margin-top: 15px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 11px;
    }

    .errorWrapper {
      position: relative;

      .errorText {
        color: $rad-punch;
        padding-top: 10px;
        margin-left: 20px;
        margin-top: -30px;
        padding-left: 5px;
        line-height: 18px;
      }

      .errorIcon {
        font-size: 18px;
        color: $rad-punch;
      }
    }

    .comboBoxContainer {
      position: relative;
      margin-top: 16px;

      :global(.rw-input) {
        border-radius: 5px;
      }

      .caretDown {
        position: absolute;
        font-size: 14px;
        top: 25%;
        right: 3%;
        background-color: inherit;
        border: none;

        :global(.icon-caret-down) {
          position:relative;
          color: $rad-tahiti;
        }

        :global(.icon-caret-up) {
          position:relative;
          color: $rad-tahiti;
        }
      }

      &.disabled {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
      }
      :global(.rw-combobox.rw-widget.rw-open .rw-popup-container .rw-popup.rw-widget ul.rw-list li.rw-list-option) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .comboBox {
      position: relative;
    }
  }

}
