@import "~rad/styles/colors";

:global(#publishing-ui-app-container) {
  .linkPreviewUrlPicker{

    h3 {
      font-weight: normal;
      font-size: 1.1em;

      .radIconInfo {
        margin-left: 0.5em;
        font-size: 18px;
      }
    }
  }

  .linkPreviewContainer {
    margin-top: 10px;
    padding: 16px;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    border: solid 1px $rad-mercury;
    list-style: none;
    padding-bottom: 0.5em;

    &.inline {
      display: inline-block;
      border: none;
      box-shadow: none;

      div {
        margin: 0;
      }

      li {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      width: 100%;
      padding-bottom: 5px;

      &:hover {
        .radioBtn {
          border-color: $rad-tahiti;
        }
        span {
          color: $rad-tahiti;
        }
      }

      .radioBtn {
        background-color: $rad-snow;
        border: 1px solid $rad-alto;
        border-radius: 50%;
        display: inline-block;
        height: 1.5em;
        vertical-align: middle;
        width: 1.5em;
        padding: 0;
        transition: all 0.1s linear;

        &:focus {
          outline: none;
        }

        &.checked {
          border-color: $rad-tahiti;
          background: $rad-tahiti;
          box-shadow: inset 0 0 0px 0.2em white;
        }
      }

      span {
        margin-left: 0.5em;
        vertical-align: middle;
      }
    }
  }
}
