@import "~styles/variables";
:global(#publishing-ui-app-container) {

  .linksContextMenu {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .title {
      margin-bottom: 14px;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1px;
      color: #525252;

      span {
        font-size: 18px;  
      }
    }

    .linkShorten {
      padding-bottom: 24px;
      padding-top: 24px;
      border-bottom: solid 1px #eeeeee;

      .linkToShorten {
        margin-bottom: 14px;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        color: #525252;
      }

      .linkCheckboxContainer {
        margin-bottom: 1em;

        & > span {
          margin-right: 6px;
          font-size: 14px;
          vertical-align: middle;
        }

        .infoIcon {
          margin-left: 0.5em;
        }
      }

      .linkVariablesContainer {
        margin-top: 14px;
      }
    }
  }

}
