@import "~styles/variables";
@import "~styles/mixins/LayoutMixins";

:global(#publishing-ui-app-container) {

    .noteInputWrapper {
        @include standard-shadow;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        padding: $note-input-vertical-padding $note-input-horizontal-padding;
        padding-bottom: 1px;
        background-color: $rad-snow;

        .noteInput {
            flex: 1 1 0;
            padding: 5px 10px;
            margin: 0 auto;
            width: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            line-height: 20px;
        }

        .footer {
            flex: 0 0 $note-input-footer-height;
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid $rad-dirtysheep;
            width: 100%;
            padding: $note-input-footer-padding;

            .addNote {
                height: 100%;
                font-size: 12px;
                border-radius: 2px;
                background-color: $rad-snow;
                border: 1px solid $rad-dirtysheep;
                color: $rad-emperor;

                &:disabled {
                    background-color: $rad-mercury;
                    color: $rad-snow;
                }
            }
        }
    }
}