@import "~styles/variables";
@import "~styles/mixins/LayoutMixins";

:global(#publishing-ui-app-container) {

  .notesMenu {
    position: relative;
    height: 100%;

    .notesMenuItemsPicker {
      margin-bottom: 15px
      :global(.sf-ProductNav) {

        height: $notes-menu-items-picker-height;
        margin-top: -25px;
        :global(.sf-ProductNav-item) {
          letter-spacing: 1.75px;
          border-bottom-width: 4px;
          margin-right: 20px;
          @include sidebar-header;
          color: $rad-sidewalk;

          &:hover {
            color: $rad-tahiti;
          }
        }

        :global(.sf-ProductNav-item--selected) {
          color: $rad-tahiti;
        }
      }
    }

    .notesWrapper {
      height: calc(100% - #{$notes-menu-items-picker-height});
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .notesList {
        @include smooth-transition;
        flex: 5.25 100 0;
        overflow-y: auto;
        overflow-x: hidden;

        border-bottom: $note-menu-light-border-width $note-menu-light-border-style $note-menu-light-border-color;
        border-top-width: $note-menu-light-border-width;
        border-top-style: $note-menu-light-border-style;
        border-top-color: $rad-snow;

        transition: border-top-color 0.25s linear;

        &:not(.scrolledToTop) {
          border-top-color: $note-menu-light-border-color;
        }

        .noNotesPlaceholder {
          position: relative;
          top: 15%;
          margin: auto;
          left: 0;
          right: 0;

          // TODO: make this a mixin for button-links
          .viewOtherTabButton {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            text-align: center;
            display: block;
            margin: 0 auto;
            color: $rad-tahiti;
            background: none;
            box-shadow: none;
            border: none;
          }

          .noNotesBanner {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            margin-top: -28px;
            color: $rad-dirtysheep;

            &button {
              background: none;
            }
          }
        }

        .noteEnter {
          @include note-padding;
          border-bottom-width: 0px;
          opacity: 0.0;
          max-height: 0px;
          padding-bottom: 0;
          padding-top: 0;
        }

        .noteEnterActive {
          @include note-padding;
          @include note-border
          opacity: 1.0;
          max-height: 100%;
          transition: all .25s ease-in-out .25s;
        }
      }

      .noteInputArea {
        @include smooth-transition;

        box-sizing: content-box;
        flex: 0 0 $note-input-collapsed-height;
        width: 100%;
        padding-top: 20px;
        background-color: $rad-snow;

        &.noteInputFooterVisible {
          flex-basis: $note-input-expanded-height;
        }
      }
    }
  }
}
