@import "~styles/variables";
:global(#publishing-ui-app-container) {

  .note {
    @include note-padding;
    @include note-border;

    .header {
      display: inline-block;
      margin-right: $author-avatar-dimension;
      width: 100%;

      .avatarWrapper {
        float: left;
        width: $author-avatar-dimension;
        height: $author-avatar-dimension;
        margin-right: $author-avatar-margin;
        .avatarInitials {
          background-color: $rad-alto;
          color: $rad-sidewalk;
          line-height: $author-avatar-dimension;
          letter-spacing: -2px;
          font-size: 17px;
          border-radius: 50%;
          text-align: center;
          text-indent: -1px;
          vertical-align: middle;
          text-transform: uppercase;
        }
        .avatar {
          width: 100%;
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-size: cover;
        }
      }
      .info {
        float: left;
        margin-top: 2px;
        width: $content-width;

        .authorName {
          color: $rad-emperor;
          font-weight: 600;
          font-size: 15px;
          height: 17px;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
        }
        .timestamp {
          color: $rad-sidewalk;
          margin-top: 3px;
          margin-bottom: 5px;
          font-size: 12px;
        }
      }
    }
    .body {
        color: $rad-emperor;
        font-size: 14px;
        line-height: 20px;
        width: $content-width;
        margin-left: $author-avatar-dimension + $author-avatar-margin;
        word-break: break-word;
        white-space: pre-line;

        .readMore {
          display: block;

          &:focus {
            color: $rad-tahiti;
          }
          &:hover {
            color: $rad-lake;
          }
        }
      }
  }

}
