@import "~styles/variables";
@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {

  .PlanPicker {
    width: 100%;
    height: 56%;
    overflow-y: auto;
    overflow-x: hidden;

      position: relative;

      :global(.rw-input) {
        border-radius: 5px;
      }

      :global(.rw-combobox.rw-widget.rw-open .rw-popup-container .rw-popup.rw-widget ul.rw-list li.rw-list-option) {
        margin-bottom: 5px;
        padding: 0px;

        .choice {
          display: flex;
          width: calc(100% - $colorBar-width);
          margin-left: $colorBar-width;
          background-color: $rad-snow;

          &:hover {
            background-color: $rad-alabaster;
          }

          .choiceText {
            flex: 1;
            padding-left: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: $planPicker-choiceText-width;
          }
        }
      }

      :global(.rw-combobox.rw-widget.rw-open .rw-popup-container .rw-popup.rw-widget ul.rw-list li.rw-list-option.rw-state-focus) {

        .choice{
          background-color: $rad-tahiti;

          &:hover {
            color: $rad-tahiti;
            background-color: $rad-alabaster;
          }
        }
      }

      :global(.rw-combobox.rw-widget.rw-open .rw-popup-container .rw-popup.rw-widget ul.rw-list li.rw-list-option.rw-state-selected) {

        .choice {
          background-color: $rad-chalice;

          &:hover {
            color: $rad-tahiti;
            background-color: $rad-alabaster;
          }
        }
      }

      :global(.rw-combobox.rw-widget.rw-open .rw-popup-container .rw-popup.rw-widget ul.rw-list li.rw-list-option.rw-state-focus.rw-state-selected) {

        .choice {
          background-color: $rad-tahiti;

          &:hover {
            color: $rad-tahiti;
            background-color: $rad-alabaster;
          }
        }
      }

      .caretDown {
        position: $planPicker-chevron-position;
        font-size: $planPicker-text-font-size;
        top: $planPicker-chevron-top;
        right: $planPicker-chevron-right;
        background-color: $planPicker-chevron-background-color;
        border: $planPicker-chevron-border;

        :global(.icon-caret-down) {
          position:relative;
          color: $rad-tahiti;
        }

        :global(.icon-caret-up) {
          position:relative;
          color: $rad-tahiti;
        }
      }
  }
}
