@import "~styles/variables";
@import "~styles/mixins/LayoutMixins";
:global(#publishing-ui-app-container) {

  .WorkflowContextMenu {
    height: 100%;
    margin-right: -20px;

    .scrollableContainer{
      height: calc(100% - 30px);
      overflow-y: scroll;
      overflow-x: auto;
    }

    & > div {
      margin-bottom: 14px;
      padding-right: 20px;
    }

    .title{
      @include optionBarTitles();
    }

    .divider{
      width: $divider_width;
      height: $divider_height;
      border: $divider_border;
      margin-top: 26px;
      margin-bottom: 22px;
    }
  }

}
