@import "~styles/variables";
@import "~rad/styles/colors";

.closeButton {
  color: $rad-dolphin;
  background-color:transparent;
  border:none;
  font-size: 14px;
  transition: opacity 0.1s ease-in $sidebar_transition_time;
}

.closeButton:hover {
  color: $rad-tahiti;
}
