@import "~styles/variables";

.alertWrapper {
  position: relative;

  .alertText,
  .alertIcon {
    color: $rad-punch;
  }

  .alertText {
    padding-top: 10px;
    margin-left: 20px;
    margin-top: -27px;
    padding-left: 0px;
    line-height: 18px;

    .header {
      font-weight: bold;
    }

    .additionalText {
      color: $rad-emperor;
    }

    .link {
      color: $rad-tahiti;
      cursor: pointer;
    }
  }

  .alertIcon {
    font-size: 16px;
  }

  &.soft {
    .alertIcon,
    .header {
      color: $rad-tahiti;
    }
    .header {
      color: $rad-emperor;
    }
  }
}
