@import "~styles/variables";
:global(#publishing-ui-app-container) {

  .dropdownSection {
    .description {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 11px;
    }

    .comboBoxContainer {
      position: relative;
      margin-top: 16px;
      width: 100%;

      :global(.rw-input) {
        border-radius: 5px;
      }

      &.clearButtonVisible {
        width: 85%;
      }

      &.disabled {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
      }
      :global(.rw-combobox.rw-widget.rw-open .rw-popup-container .rw-popup.rw-widget ul.rw-list li.rw-list-option) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .comboBox {
      position: relative;
    }

    .clearSelectedDatum {
       color: $rad-gray;
       background-color: transparent;
       border: none;
       position: absolute;
       right: -35px;
       top: 8px;
     }

     .colorBar {
       width: $colorBar-width;
       height: 32px;
       bottom: 1px;
       left: 1px;
       position: absolute;
       z-index: $dropdown_color_bar;
       border-top-left-radius: 3px;
       border-bottom-left-radius: 3px;
     }
  }
}
