@import "~styles/variables";

.button {
  position: absolute;
  font-size: 14px;
  top: 25%;
  right: 3%;
  background-color: inherit;
  border: none;

  :global(.icon-caret-down),
  :global(.icon-caret-up) {

    &:before {
      font-size: 10px;
    }

    &:hover {
      &:before {
        color: $rad-tahiti;
      }
    }
  }
}
