@import "~styles/variables";

:global(#publishing-ui-app-container) {

  .featurePlaceholder {

    .image {
      background-repeat: no-repeat;
      background-position: center center;
      height: $placeholder-image-height;
      width: 75%;
      margin: 0 auto;
      margin-top: $placeholder-image-margin-top;
      margin-bottom: $placeholder-image-margin-bottom;
    }

    .placeholderText {
      text-align: center;
      font-family: 'Open Sans';
        color: $rad-dirtysheep;


      h1 {
        font-size: 16px;
        line-height: 1.31;
      }

      p {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}
