@import "~styles/variables";
:global(#publishing-ui-app-container) {


    .wrapper {
        font-size: 16px;

        .title {
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 0px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 1px;
            color: $rad-emperor;
            text-transform: capitalize;
        }

        &.subheading {
            font-weight: 300;

            .title {
                font-size: 14px;
            }
        }
    }
}
