@import "~rad/styles/colors";
@import "~styles/variables";

:global(#modals) {
  .frameGrabModalContainer {

    z-index: 1000;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1;

    div {
      box-sizing: border-box;
    }

    button {
      cursor: pointer;
    }

    button:focus {
      outline: none;
    }

    //NOTE: We are disabling the transitions from react-lib because there is a bug where,
    //      during the transition, part of the modal will appear behind the
    //      rest of the UI. To see the issue, comment out the following block

    transition: none;

    :global(.sf-Modal) {
      :global(.sf-Modal-content) {
        transition: none;
      }
    }
    //END REMOVING TRANSITIONS

    :global(.sf-Modal) {

      :global(.sf-ModalHeader) {
        height: $framegrab_modal_header_height;

        @import "~styles/modules/partials/_closeButton.scss";
        .closeButton {
          position: absolute;
          right: 0px;
          width: 53px;
          font-size: 17px;
          z-index: 9;
        }
      }

      :global(.sf-ModalFooter) {
        height: $framegrab_modal_footer_height;
      }

      :global(.sf-Modal-content) {
        height: $framegrab_modal_height;
        width: $framegrab_modal_width;
        margin-top: calc((100vh - #{$framegrab_modal_height}) / 2);
      }

      :global(.sf-ModalBody) {
        height: calc(#{$framegrab_modal_height} - #{$framegrab_modal_header_height} - #{$framegrab_modal_footer_height});
        max-height: calc(#{$framegrab_modal_height} - #{$framegrab_modal_header_height} - #{$framegrab_modal_footer_height});
      }
    }
  }
}
