@import "~rad/styles/colors";
@import "~styles/variables";

:global(#modals) {
  .frameGrab {

    padding-right: $framegrab_image_spacing;
    padding-bottom: $framegrab_image_spacing;
    .potentialThumbnail {
      background-size: cover;
      width: calc( (100% / #{$framegrab_num_images_per_row}) - #{$framegrab_image_spacing});
      height: $framegrab_image_height;
      display: inline-block;
      position: relative;
      margin-left: $framegrab_image_spacing;
      margin-top: $framegrab_image_spacing;
    }

    .selected::before {
      z-index: $selected_frame_grab_thumb;
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      border: $framegrab_selected_image_border_width solid $rad-tahiti;
    }
  }
}
