@import "~rad/styles/colors";
@import "~styles/variables";
@import "~styles/mixins/validationMixins.scss";

:global(#publishing-ui-app-container) {

  .imageErrorContainer {
    width: 100%;
  }

  .mediaErrorOverlay, .mediaErrorText {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 8px solid $rad-punch;
    z-index: $media_text_overlay;
  }

  .mediaErrorText {
    display: flex;
    align-items: center;
    justify-content: center;

    .mediaErrorTitle {
      color: $rad-punch;
      margin-top: 9px;
      font-weight: 600;
    }

    .mediaErrorDescription {
      color: $rad-emperor;
      margin-bottom: 0px;
    }

    .validationIcon {
      font-size: 26px;

      &.error {
        @include error
      }

      &.improvement {
        @include improvement
      }
    }
  }

  .mediaErrorOverlay {
    background-color: $rad-snow;
    opacity: 0.9;
    z-index: $media_error_overlay;
  }
}
