@import "~rad/styles/colors";
@import "~styles/variables";
@import "~styles/mixins/validationMixins.scss";

:global(#publishing-ui-app-container) {
  .image {
    .mediaPlaceholderImage {
      height: $media_bar_image_height;
      width: 100%;
      background-size: cover;
      background-image: none;

      .mediaRemoveButton {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        font-size: 20px;
        color: $rad-tahiti;
        display: none;
        background-color: $rad-snow;
        border-radius: 50%;
        height: 19px;
        z-index: $media_removal_button;
      }

      &:hover .mediaRemoveButton {
        display: inline-block;
      }

      .mediaErrorOverlay, .mediaErrorText {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        border-bottom: 8px solid $rad-punch;
        z-index: $media_text_overlay;
      }

      .mediaErrorText {
        .mediaErrorTitle {
          color: $rad-punch;
          margin-top: 9px;
          font-weight: 600;
        }

        .mediaErrorDescription {
          line-height: 1.3;
        }

        .validationIcon {
          font-size: 26px;

          &.error {
            @include error
          }

          &.improvement {
            @include improvement
          }
        }
      }

      .mediaErrorOverlay {
        background-color: $rad-snow;
        opacity: 0.9;
        z-index: $media_error_overlay;
      }
    }

    .networkBar {
      text-align: center;
    }
  }
}
