@import "~rad/styles/colors";

:global(#publishing-ui-app-container) {
  .noNetworkSelected {
    display: inline-block;
    padding: 1em;
    color: $rad-chalice;
    font-size: 0.9em;
  }

  .networks {
    display: inline-block;
    padding: 0.7em;

    .icon {
      font-size: 1.5em;
      margin-right: 0.5em;
      @import "~styles/modules/partials/_networkIconColors.scss";
    }
  }
}
