@import "~rad/styles/colors";
@import "~styles/variables";
@import "~styles/mixins/validationMixins.scss";

:global(#publishing-ui-app-container) {
  .placeHolder {
    .mediaBarButton {
      padding: 0px;
      background: none;
      border: 0;

      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      color: $rad-tahiti;
    }

    .mediaBarIcon {
      height: 50px;
      width: 50px;
      transition: height $media_bar_transition;
      transition: width $media_bar_transition;
      &.dragging {
        height: 75px;
        width: 75px;
      }
    }
  }
}
