@import "~rad/styles/colors";
@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .videoPlayer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $video_player;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;

    @import "~styles/modules/partials/_closeButton.scss";
    .closeButton {
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: 1.5em;
      color: $rad-alto;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: $rad-cloud;
      }
    }

    video {
      background: black;
      min-width: 70%;
      min-height: 70%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
