@import "~rad/styles/colors";
@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .video {
    display: flex;
    background: $rad-snow;
    position: relative;
    justify-content: space-between;
    height: 100%;

    .leftColumn {
      position: relative;
      border-right: 1px solid $rad-mercury;
      width: $media_bar_video_width;
      flex-direction: column;
      overflow: hidden;
      height: 100%;

      :global(.icon-remove) {
          position: absolute;
          top: 5px;
          right: 5px;
          cursor: pointer;
          font-size: 20px;
          color: $rad-tahiti;
          display: none;
          background-color: $rad-snow;
          border-radius: 50%;
          height: 19px;
          z-index: $video_left_col;
        }

        &:hover :global(.icon-remove) {
          display: inline-block;
        }

      .thumbnail, .thumbnailHolder{
        width: $media_bar_video_width;
        height: 100%;
      }

      .thumbnailHolder {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        div {
          left: 0;
        }

        :global(.sf-LoadingAnimation) {
          top: -10px;
        }

        span {
          color: $rad-gray;
          display: block;
          position: absolute;
          bottom: 20px;
          width: 100%;
          left: 0;
          text-align: center;
        }
      }
    }
  }

  .rightColumn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - #{$media_bar_video_width});

      .topContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .videoDetails {
          padding: 1em 0 0 0.7em;

          h3 {
            padding: 0.3em 2em 0.3em 0.3em;
            font-weight: normal;
          }
        }

        @import "~styles/modules/partials/_closeButton.scss";
        .closeButton {
          margin: 10px;
          min-width: 1.5em;
        }
      }

      .middleContainer {
        flex: 1;
        padding-left: 10px;
        p {
          color: $rad-chalice;
        }
      }

      .bottomContainer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
}
