@import "~rad/styles/colors";
@import "~styles/variables";

:global(#publishing-ui-app-container) {

  .customThumbDropzone {
    width: 100%;
    height: 100%;
  }

  .thumbnailContent {
    width: 100%;
    height: 100%;
  }

  .customThumbDropAccept {
    .thumbnail {
      .draggingMediaOverlay {
        background-color: rgba($rad-tahiti, 0.50);
      }
    }
  }

  .customizeThumbnail {
    font-size: 12px;
    background-color: rgba($rad-mineshaft, 0.75);
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: $video_customize_thumb_menu;

    transition: height $customize_thumbnail_menu_transition;

    &.expanded {
      height: 78px;
    }

    button, div {
      background: transparent;
      color: $rad-snow;
      border: 0;

      span {
        margin: 5px;
      }
    }

    .topMenu {
      height: 28px;
      border-bottom: 1px solid $rad-gray;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .expandedMenu {
      padding-top: 5px;
      button {
        padding-top: 5px;
      }
      i {
        padding-right: 5px;
      }
      div {
        height: 20px;
      }
    }
  }

  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: $rad-shark;
    border-bottom: 1px solid $rad-emperor;
    text-align: center;
    cursor: pointer;

    .draggingMediaOverlay {
      z-index: $video_dragging_media_overlay;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border: 2px dashed $rad-tahiti;
      background-color: rgba($rad-tahiti, 0.15);
      transition: background $media_bar_transition
    }

    .playIcon {
      z-index: $video_play_icon;
      font-size: 6em;
      color: $rad-snow;
      top: 0.3em;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }
}
