<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><App Title></title>
    <meta name="description" content="<App Description>">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <script>(function(s,p,r,e,d,f,a){f=s.createElement(p);a=s.getElementsByTagName(p)[0];f.src=r;e&&f.setAttribute(e,d);a.parentNode.insertBefore(f,a)})(document,'script','//massrel-pub.a.ssl.fastly.net/collab/'+(decodeURIComponent((document.location.href.match(/[?&]sc-env=([^&#]+)/)||[]).pop()||'')||('production'))+'-1.0.0/scripts/main.js','data-enable-chats','1');</script>
  </head>
  <body style="visibility: hidden; margin: 0px;">
    <div id="modals"></div>
    <div id="spredfast-publishing-ui-container"></div>

    <div id="devtools"></div>

    <script>
      var PublishingApp = {};
      (function () {
        PublishingApp.lh = '{{loginHost}}';
        PublishingApp.segmentKey = '{{segmentKey}}';
        PublishingApp.envDetails = {{{json envDetails}}};
        PublishingApp.releaseVersion = '<PackageVersion>';

        var devEnv = 'publishing-local.spredfast.com';
        var url = document.location.href;
        var branch = activeBuild = decodeURIComponent((url.match(/[?&]env=([^&#]+)/) || []).pop() || '');

        var prodBuilds = ['production', 'staging'];
        var onDev = activeBuild === devEnv || (document.location.hostname === devEnv);

        if (!onDev) {
          if (PublishingApp.lh === 'login.spredfast.com' && prodBuilds.indexOf(branch) === -1) {
            activeBuild = 'production';
          } else if (PublishingApp.lh === 'infralogin.spredfast.com' && branch === '') {
            activeBuild = 'development';
          }
        }

        if (/PhantomJS/.test(window.navigator.userAgent)) {
          var style = document.createElement('style');
          style.type = 'text/css';
          style.innerHTML = '\
            * {\
              transition-property: none !important;\
              -o-transition-property: none !important;\
              -moz-transition-property: none !important;\
              -ms-transition-property: none !important;\
              -webkit-transition-property: none !important;\
              \
              transform: none !important;\
              -o-transform: none !important;\
              -moz-transform: none !important;\
              -ms-transform: none !important;\
              -webkit-transform: none !important;\
              \
              animation: none !important;\
              -o-animation: none !important;\
              -moz-animation: none !important;\
              -ms-animation: none !important;\
              -webkit-animation: none !important;\
            }\
          ';

          document.getElementsByTagName('head')[0].appendChild(style);
        }

        var path = (onDev) ? '/' : '//<S3 Bucket>.a.ssl.fastly.net/<App Name>/' + activeBuild + '-<PackageVersion>/';
        var scriptPath = onDev ? 'publishing/bundle.js' : 'scripts/bundle.js';

        PublishingApp.path = path;
        PublishingApp.scriptPath = PublishingApp.path + scriptPath;
        PublishingApp.sha = (url.match(/[?&]sha=([^&#]+)/) || []).pop() || '';

        (function(s,p,r,e,d){e=s.createElement(p);d=s.getElementsByTagName(p)[0];e.src=r;d.parentNode.insertBefore(e,d)})(document,'script',PublishingApp.scriptPath);
      })();
    </script>
  </body>
</html>
