@import "~styles/variables";
@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {
  .accountSelectorBar {
    position: relative;
    display: inline-block;

    min-height: 60px;

    width: 100%;
    background-color: $rad-snow;
    border-top-left-radius: 5px;


    border-bottom: solid 1px $rad-alto;

    font-size: 15px;
    color: $rad-sidewalk;
    font-family: Open Sans;
    font-weight: normal;

    .accountsTag {
      display: inline-block;
      line-height: 40px;
      margin-right: 5px;
    }
  }

  .flexProtect {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .validClickTarget,
  .accountFilterInput {
    vertical-align: middle;
  }

  .accountFilterInput{
    display: inline-block;
    margin-left: 5px;
    text-indent: 5px;
    height: 30px;
    width: $accountselector_filter_width;

    border: 0px;
    outline: none;
  }
}
