@import "~styles/variables";
:global(#publishing-ui-app-container) {

  /** if possible, keep this as is, if you update also update the
    * elementHeight on InfiniteScroll in VoiceList.js
  **/
  .credential,
  .uncheckedCredential {
    height: 35px;
    padding: 5px 15px 5px 35px;
    cursor: pointer;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.authenticationWarning,
    &.disabled.disabledMessage {
      .credentialName{
        margin-top: -15px;
      }

      .credentialWarningIcon {
        margin-top: -13px;
        margin-right: 5px;
        display: inline-block;
        color: $rad-butternut;
      }

      .warning {
        margin-top: -10px;

        span {
          margin-right: 2px;
        }
      }
    }

    &.disabled {
      .credentialName,
      .networkIcon {
        color: $rad-dirtysheep;
      }
    }

    & > span, {
      vertical-align: middle;
    }

    .warning {
      color: $rad-sidewalk;
      margin-left: 60px;
      font-size: 12px;
    }

    &.disabled {
      .credentialName {
        font-style: italic;
      }
    }
  }

  .uncheckedCredential:hover {
    & > span:first-of-type {
      border-color: $rad-tahiti;
      border-width: 2px;
      border-style: solid;
    }
  }

  .credentialName{
    display: inline-block;
    padding-left: 10px;
    color: $rad-emperor;
    vertical-align: middle;
  }

  .networkIcon{
    font-size: 25px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;

    @import "~styles/modules/partials/_networkIconColors.scss";
  }
}
