@import "~rad/styles/colors";

:global(#publishing-ui-app-container) {
  .timeComboBoxContainer {
    padding: 20px;
    background-color: $rad-cloud;
    border-top: 1px solid $rad-mercury;
    flex-grow: 0;
    flex-shrink: 0;

    :global(.rw-input) {
      border-radius: 5px;
    }

    :global(.sf-dropdown-input-chevron) {
      display: none;
    }

    &.error {
      :global(.sf-dropdown-input) {
        border-color: $rad-punch;
      }
    }

    .datePicker {
      width: 100%;
    }

    .dateTimePickerDivider {
      border-width: 1px 0 0 0;
      border-color: $rad-mercury;
      border-style: solid;
      margin-bottom: 15px;
    }

    :global(.sf-dropdown-input-input) {
      width: 100%;
      padding-right: 30px;

      &:focus {
        border-color: $rad-tahiti;
      }
    }

    // a lot of style overwrites that we get from react-widget
    .timePickerContainer {
      position: relative;

      :global(.icon-clock-circle-outline) {
        position: absolute;
        font-size: 14px;
        top: 11px;
        right: 10px;
        color: $rad-tahiti;
      }
    }
  }
}
