@import "~styles/mixins/validationMixins";
@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .scheduleCalendar {
    padding: 20px;

    flex-grow: 0;
    flex-shrink: 0;

    .scheduleCalendarHeader {
      margin: 0 0 14px 0;
      font-weight: 600;
      display: inline-block;
    }

    .datetimeInputWrap {
      display: inline-block;
      width: 100%;
      position: relative;

      &.datetimePrenent {
        width: 85%;
      }

      i {
        position: absolute;
        font-size: 14px;
        top: 11px;
        right: 10px;
        color: $rad-tahiti;
      }
    }

    .scheduleCalendarDateTimeInput {
      outline: 0;
      border-radius: 3px;
      height: 36px;
      width: 100%;
      padding: 11px 30px 11px 11px;
      border: 1px solid $rad-dirtysheep;

      &:focus {
        border-color: $rad-tahiti;
      }

      &.error {
        border-color: $rad-punch;
      }
    }

    .scheduleCalendarTimeZone {
      margin: 9px 0 0 0;
    }
  }

  .validationIcon {
    margin: 0 0px 0px 10px;
    font-size: 18px;

    &.error {
      @include error
    }

    &.improvement {
      @include improvement
    }
  }

  .errorText {
    @include error
    font-size: 13px;
  }

  .clearButton {
    color: $rad-gray;
    background-color: transparent;
    border: none;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }
}
