@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {
  .extraCharsDecorator {
    color: $rad-emperor;
    background: rgba($rad-punch, 0.50);
    &:hover {
      color: $rad-emperor;
      background: rgba($rad-punch, 0.50);
    }
  }
}
