@import "~styles/variables";
@import "~styles/mixins/validationMixins";

:global(#publishing-ui-app-container) {
  .globalValidationBar {
    flex-basis: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: flex $validation_bar_transition;
    background-color: white;

    font-weight: 600;

    position: relative;

    &.error {
      @include errorBorder
    }

    &.improvement {
      @include improvementBorder
    }

    &.permissionError {
      background-color: rgba(255, 198, 42, 0.5);
      @include permissionErrorBorder
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .contentWrapper {
    position: absolute;
    height: 54px;
    width: 100%;
    bottom: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .validationIcon {
    font-size: 26px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0;

    &.visible {
      @include visible
    }

    &.error {
      @include error
    }

    &.improvement {
      @include improvement
    }
  }

  .active {
    flex-basis: 56px;
    border-bottom: 2px solid black;
  }
}
