@import "~rad/styles/colors";
@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .cycleImages {
    width: 24px;
    background-color: rgba(46, 46, 46, 0.5);
    position: absolute;
    top: calc((100% - 68px) / 2);
    height: 68px;
    display: none;
  }

  .cycleImageDiv {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 68px;
    cursor: pointer;
    transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
  }
  .linkPreview {
    display: flex;
    background: $rad-snow;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.13);
    position: relative;
    justify-content: space-between;

    .customThumbDropzone {
      width: 32%;
    }

    .customThumbDropAccept {
      .leftColumn {
        .draggingMediaOverlay {
          background-color: rgba($rad-tahiti, 0.50);
        }
      }
    }

    .leftColumn {
      border-right: 1px solid $rad-mercury;
      width: 100%;
      height: 100%;
      flex-direction: column;
      position: relative;

      .draggingMediaOverlay {
        z-index: $dragging_media_overlay;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border: 2px dashed $rad-tahiti;
        background-color: rgba($rad-tahiti, 0.15);
        transition: background $link_preview_transition
      }

      .thumbnail, .thumbnailHolder{
        width: 100%;
        height: calc(100% - 2em);
        min-height: 115px;
        border-bottom: 1px solid $rad-mercury;
        position: relative;
      }

      .thumbnail {
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: auto;
          width: 100%;
          transform: translate(-50%,-50%);
        }

        .cycleImagesForward {
          right: 0px;
          @extend .cycleImages;

          div {
            @extend .cycleImageDiv;
          }
        }

        .cycleImagesBackward {
          @extend .cycleImages;

          div {
            @extend .cycleImageDiv;
          }
        }

        .multiImage{
          // Empty class so we can use with CSS Modules
        }

        &:hover {
          &.multiImage {
            .cycleImagesForward,
            .cycleImagesBackward {
              display: inline-block;
            }
          }
        }
      }

      .thumbnailHolder {

        :global(.sf-LoadingAnimation) {
          left: 0px; //needed since normally .sf-LoadingAnimation uses left:inherit
        }

        :global(.icon-remove) {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          z-index: $thumbnail_holder;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        background: $rad-cloud;
        color: $rad-chalice;
        p {
          text-align: center;

          i {
            font-size: 2.5em;
          }
          span {
            display: block;
            font-weight: 600;
          }
        }
      }

      .customizeThumbnailHolder {
        text-align: center;
      }

      .customizeThumbnail {
        padding: 0.5em;
        font-size: 0.9em;
        background: none;
        border: 0;
        font-family: Open Sans;
        font-weight: 400;
        color: $rad-tahiti;
      }
    }

    .rightColumn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 68%;

      .topContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .linkPreviewDetails {
          padding: 1em 0 0 0.7em;

          .row {
            display: flex;

            h3, p {
              padding: 0.3em 2em 0.3em 0.3em;
              display: inline-block;
              &:focus {
                outline: 0;
              }
              &:hover {
                background: rgba(255, 198, 41, 0.15);
              }
            }

            h3 {
              font-weight: 600;
            }

            p {
              line-height: 1.3em;
            }

            [contentEditable=true]:empty:not(:focus):before {
              content: attr(data-place-holder);
              color: $rad-dirtysheep;
            }

            i {
              visibility: hidden;
              position: relative;
              left: -1.2em;
              font-size: 1.3em;
              color: $rad-chalice;
              top: 0.2em;
            }
          }
        }

        @import "~styles/modules/partials/_closeButton.scss";
        .closeButton {
          margin: 10px;
          min-width: 1.5em;
        }
      }

      .bottomContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .caption {
          margin: 1.5em;
          color: $rad-chalice;
          font-size: 0.8em;
        }
        .networkRefreshContainer {
          position: relative;
          bottom: 33px;

          .networks {
            right: 10px;
            position: absolute;
            margin-bottom: 0px;
            transition: right .3s ease;

            .icon {
              font-size: 1.5em;
              margin-right: 0.5em;
              @import "~styles/modules/partials/_networkIconColors.scss";
            }
          }
          .refresh {
            position: absolute;
            cursor: pointer;
            color: transparentize($rad-chalice, 1);
            right: 10px;
            bottom: -29px;
            font-size: 30px;
            vertical-align: middle;
            visibility: hidden;
            transition: color .3s ease, visibility .3s ease;
          }
          &.hover{
            .networks {
              right: 40px;
              transition: right .3s ease;
            }

            .refresh {
              color: transparentize($rad-chalice, 0);
              transition: color .3s ease, visibility .3s ease;
              width: 25px;
              height: 30px;
              visibility: visible;
            }
          }
        }
      }
    }

    &:hover {
      .rightColumn {
        .topContainer {
          .linkPreviewDetails {
            .row {
              i {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  .linkPreviewLoading {
    height: 75px;
    line-height: 75px;
    text-align: center;
    width: 100%;

    :global(.sf-LoadingAnimation) {
      left: 0px; //needed since normally .sf-LoadingAnimation uses left:inherit
      width: 32px;
      display: inline-block;
      position: relative;
      vertical-align: middle;

      & > svg {
        width: $link_preview_scraping_animation_size;
      }
    }

    .italicize {
      font-style: italic;
    }

    .gray {
      color: $rad-chalice;
    }

    .link {
      cursor: pointer;
    }
  }
}
