@import "../../variables";
@import "~rad/styles/colors";
@import "~styles/mixins/LayoutMixins";

:global(#publishing-ui-app-container) {
  .appContainer {
    height: 100%;
    max-height: 100%;
    background-color: $rad-mercury;

    display: flex;
    flex-direction: column;
  }

  .sidebarMessageSchedulerContainer {
    flex: 1;
    min-height: 0px; //necessary so Firefox and Edge shrink contents correctly
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    background-color: $rad-mercury;
  }

  .globalDropZone {
    height: 100%;
  }

  .postPreviewOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $rad-snow;
    opacity: 0.5;
    z-index: $post_preview_overlay;
  }


  .postPreviewToggleAppear,
  .postPreviewToggleEnter {
    opacity: 0;
  }

  .postPreviewToggleAppearActive,
  .postPreviewToggleEnterActive {
    opacity: 0.5;
    transition: opacity ($post_preview_transition_time / 2) ease-in;
  }

  .postPreviewToggleLeave {
    opacity: 0.5;
  }

  .postPreviewToggleLeaveActive {
    opacity: 0;
    transition: opacity ($post_preview_transition_time / 2) ease-in;
  }

  .permissionBlockingOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $rad-snow;
    z-index: $permission_blocking_overlay;
    opacity: .9;
    @include fullScreen;

    .permissionBlockingContent {
      text-align: center;
    }

    .permissionBlockingIcon {
      font-size: 360px;
      color: $rad-mercury;
    }

    .permissionBlockingHeader {
      font-size: 18px;
      color: $rad-butternut;
      text-transform: uppercase;
      margin-top: 20px;
    }

    .permissionBlockingSubtitle {
      font-size: 14px;
      color: $rad-dirtysheep;
    }
  }
}
