@import "~rad/styles/colors";
@import "~styles/variables";
@import "~styles/mixins/validationMixins.scss";

:global(#publishing-ui-app-container) {
  .mediaBar {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $media_bar_empty_height;
    background: $rad-snow;

    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.13);
    position: relative; //so the box shadow shows above the middle content

    transition: flex $media_bar_transition;

    &.dragging {
      flex-basis: $media_bar_expanded_height;
      border: 2px dashed $rad-tahiti;
      background-color: rgba($rad-tahiti, 0.15);
    }

    &.hasPlaceholder {
      flex-basis: $media_bar_expanded_height;
    }

    .mediaBarDropzone {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
    }

    .mediaPlaceholder {
      position: absolute;
      left: 0px;
      top: 0px;
      width:0px;
      height:0px;
      opacity: 0;
      transition: opacity $media_bar_transition;

      &.working, &.completed {
        opacity: 1;
        border-right: 1px solid $rad-mercury;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
        height: $media_bar_expanded_height;
      }

      &.image.working, &.image.completed{
        width: $media_bar_image_width;
      }

      &.video.working, &.video.completed{
        width: 100%;
      }

      &.error {
        background: rgba($rad-punch, 0.5);
      }
    }

    .mediaBarDropAccept {
      .mediaPlaceholder {
        width: $media_bar_image_width;
        height: calc(#{$media_bar_expanded_height} - 4px); //-4px for border
        background: rgba($rad-tahiti, 0.75);
        opacity: 1;
      }
    }

    .mediaBarDropReject {
      //we will add styling here later
    }
  }
}
