@import "~rad/styles/colors";
@import "~styles/variables";
:global(#publishing-ui-app-container) {
  .mentionsQuery {
    position: fixed;
    width: 77%;
    margin: 0;
    height: auto;
    max-height: $mentions_query_menu_max_height;
    overflow-x: hidden;
    overflow-y: auto;

    font-size: 14px;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $rad-snow;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px $rad-mercury;
    z-index: $mentions_query_index;
  }

  .individualMentionContainer{
    width: 100%;
    padding: 9px;
    height: $mentions_query_height;
    border-bottom: solid 1px $rad-mercury;
    cursor: pointer;
  }

  .individualMentionContainer:hover {
    background-color: rgba(0, 185, 242, 0.2);
  }

  .mentionIcon{
    width: $mention_icon_width_and_height;
    height: $mention_icon_width_and_height;
    margin-right: 13px;
    display: inline-block;
    border-radius: 4px;
  }

  .mentionsTextBox{
    display: inline-block;
    width: 85%;
    vertical-align: middle;

    .verifiedIcon {
      margin-left: 5px;
      margin-right: 5px;
      color: $rad-lake;
    }

    .extraInfoList{
      display: flex;
      flex-direction: row;


      text-align: left;
      padding: 0px;
      color: $rad-chalice;
      font-size: 11px;

      .extraInfo{
        flex-grow: 1;
        flex-basis: 30px;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 15px;
        text-overflow: ellipsis;
      }
    }
  }

  .mentionsLinkDecorator {
    color: $rad-tahiti;
  }

  .mentionsQueryDecorator {
    color: $rad-emperor;
    background: $rad-alto;
    &:hover {
      color: $rad-emperor;
      background: $rad-alto;
    }
  }

  .normalWeightHeader {
    font-weight: 400;
  }

  .noResultsFound, .errorQuerying, .retrievingAccounts{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 4.36;
    color: $rad-gray;
  }

  .retrievingAccounts {
    height: 58px;
  }

  .loadingQuerySuggestions{
    height: 160px;

  }

  .loadingMentionsSpinner{
    display: inline-block;
    max-height: 100px;
    height: 100px;
    position: static;
    transform: translateY(0px);
  }

  .nonVerified {
    margin-left: 7px;
  }
}
