@import "~styles/variables";
@import "~styles/mixins/validationMixins.scss";
@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .messageHeader {
    margin-bottom: 11px;
  }

  .messageHeaderTopLine {
    display: flex;
    span {
      vertical-align: middle;
    }

    i {
      vertical-align: middle;
    }
  }

  .messageTitle {
    flex: 1;
    font-size: 12.5px;
    white-space: nowrap;
  }

  .headerIcon {
    font-size: 18px;
    margin-right: 10px;
  }

  .previewIcon {
    @extend .headerIcon;
    cursor: pointer;
    font-size: 22pt;
    position: relative;
    margin-left: 15px;

    &.previewVisible {
      z-index: $message_header_preview_icon;
    }
  }

  .messageHeaderErrorLine {
    margin-top: 2px;
    vertical-align: middle;
  }

  .validationIcon {
    @extend .headerIcon;
    opacity: 0;
    float: left;

    &.visible {
      @include visible
    }

    &.error {
      @include error
    }

    &.improvement {
      @include improvement
    }
  }

  .validationText {
    display: block;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.error {
      @include error
    }
  }

  .applyToAllButton {
    background: none;
    border: 0;

    min-width: $message_box_header_min_width;

    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: $rad-tahiti;
  }

  .disabledApplyAll {
    color: $rad-chalice;
  }

  .networkIcon{
      font-size: 20px;
      display: inline-block;
      margin-right: 10px;

      @import "~styles/modules/partials/_networkIconColors.scss";
  }
  @media (max-width: 1130px) {
    .shrunkHeader {
      min-width: 0px;
    }
  }
}
