@import "~styles/variables";
:global(#publishing-ui-app-container) {
  .messageEditor {
    flex: 1;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
  }

  .messageWrapper {
    flex: 1;
    flex-grow: 100;
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $rad-alabaster;
  }
}
