@import "~styles/variables";
@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {
  .messageTitle {
    font-family: Open Sans;
    font-size: 12.5px;
    font-weight: 400;
    color: $rad-emperor;
  }

  .message {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    background-color: $rad-alabaster;
    padding: 10%;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .editorWrapper {
    position: relative;
    border: $message_box_border_thickness solid $rad-dirtysheep;
    border-radius: 4px;
    background-color: $rad-snow;

    &.twitterWrapper {
      padding-bottom: $countdown_div_height;
    }
  }

  .editor {
    line-height: 1.5em;
    word-wrap: normal;
    box-sizing: border-box;
    border-radius: $message_box_border_radius;
    cursor: text;
    background: $rad-snow;
    overflow-x: hidden;
    padding: 20px 21px;
    min-height: $message_box_min_height;

    &.editorWithTwitterCountdown {
      min-height: calc(#{$message_box_min_height} - #{$countdown_div_height});
      padding-bottom: 0;
    }

    &.editorWithNetworksOptionBar {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .upperGradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    padding-top: 0px;
    padding-right: 0px;
    border-radius: $message_box_border_radius;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }

  .lowerGradient {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 20px;
    padding-top: 0px;
    padding-right: 0px;
    border-radius: $message_box_border_radius;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    &.twitterLowerGradient {
      bottom: $countdown_div_height;
    }
  }

  .countdownSpacer {
    height: $countdown_div_height;
    white-space: pre-wrap;
  }
}
