@import "~styles/variables";
@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {
  .scheduleContainer {
    display: flex;
    flex-direction: column;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $scheduler_width; //right now it just matches the width of the placeholder calendar image

    overflow-y: auto;
    overflow-x: hidden;

    border: thin solid $rad-alto;
    border-top-right-radius: 5px;
    margin-left: 10px;
    background-color: $rad-snow;
  }

  .scheduleTitle {
    flex-basis: $schedule_title_height;
    flex-grow: 0;
    flex-shrink: 0;


    padding: 20px;
    border-top-right-radius: 5px;

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $rad-emperor;

    border-bottom: thin solid $rad-alto;
  }
}
