@import "~rad/styles/colors";
@import "~styles/variables";
@import "~styles/variables_layout";
:global(#publishing-ui-app-container) {

  .headerBar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 55px;

    overflow: hidden;
    width: 100%;
    background-color: $rad-snow;
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .tempTitle {
    border: 0px none;
    outline: none;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 200;
    width: 50%;
    padding: 15px;

    input {
      border: 0px none;
      width: 100%;
    }

    input:focus {
        outline: none;
    }
  }

  @import "~styles/modules/partials/_closeButton.scss";
  .closeButton {
    padding: 15px;
    width: 53px;
    border-left: 1px solid $rad-mercury;
    font-size: 17px;
    z-index: 9;

    &.embeddedCloseButton {
      border: none;
    }
  }

  .titleColorBar {
    height: $messageTitle-colorBar-height;
    width: $colorBar-width;
    position: absolute;
    left: 0px;
    top: -2px;
  }


}
