@import "~styles/variables";
@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {
  .publishBar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $messagepublishbar_min_height;

    font-size: 1.25em;
    padding: $standard_padding;
    background-color: $rad-alabaster;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    position: relative; //so the box shadow shows above the middle content
  }

  .publishBarButton {
    border-radius: 3px;
    padding: 7px;
    margin-left: 10px;
    height: 32px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;

    &[disabled]{
      background-color: $rad-mercury;
      color: $rad-chalice;
    }
  }

  .publishBarButtonSchedule {
    width: 110px;
    background-color: $rad-tahiti;
    color: $rad-snow;
    border: 0px;
  }

  .publishBarButtonSchedule:hover {
    background-color: $rad-tijuana;
    &[disabled]{
      background-color: $rad-mercury;
      color: $rad-chalice;
    }
  }

  .publishBarButtonSaveDraft {
    width: 110px;
    background-color: $rad-cloud;
    border: solid 1px $rad-alto;
    color: $rad-emperor;
  }

  .publishBarButtonSaveDraft:hover {
    background-color: $rad-tahiti;
    border: solid 1px $rad-tahiti;
    color: $rad-snow;

    &[disabled]{
      background-color: $rad-mercury;
      border: solid 1px $rad-mercury;
      color: $rad-chalice;
    }
  }

  .publishBarButtonCancel {
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    color: $rad-tahiti;
    border: 1px;
    text-transform: uppercase;
  }

  .publishBarButtonCancel:hover {
    color: $rad-tijuana;
    box-shadow: none;
  }

  .saveButtonsContainer {
    display: inline-block;
  }
}
