@import "~styles/variables";
@import "~rad/styles/colors";

:global(#publishing-ui-app-container) {

  .optionsSideBar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $options_side_bar_width_closed;
    position: relative;
    background-color: $rad-snow;
    transition: flex $sidebar_transition;
    margin-right: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  .optionButtonsContainer {
    background-color: $rad-cloud;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: $options_button_container_index;
  }

  .buttonsFiller{
    height: 100%;
    border-right: solid 1px $rad-gallery;
    flex-grow: 1;
  }

  .optionsContextMenu {
    height: 100%;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 0px;
    width: $options_side_bar_context_menu;
    z-index: $options_context_menu_index;
    visibility: hidden;
    transition: visibility 0.1s ease-in $sidebar_transition_time;

    & > div {
      height: 100%;
    }
  }

  @import "~styles/modules/partials/_closeButton.scss";
  .closeButton {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .closeButtonSidebarOpen {
    opacity: 1;
    visibility: visible;
  }

  .optionsSideBarOpen {
    flex-basis: $options_side_bar_width_open;

    .optionsContextMenu{
      visibility: visible;
    }
  }

  .comingSoonPlaceholder {
    width: 100%;
    height: 100%;

    & > h3 {
      margin: auto;
      font-size: 16px;
      color: $rad-dirtysheep;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      text-align: center;

      margin-bottom: 4px;
    }

    & > h2 {
      font-size: 14px;
      font-weight: 200;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      text-align: center;
      color: $rad-dirtysheep;
    }

    & > img {
      margin-left: 40px;
      margin-top: 150px;
      max-width: 150px;
      max-height: 100px;
      margin-bottom: 6px;
    }
  }

}
