@import "~styles/variables";
@import "~rad/styles/colors";

:global(#publishing-ui-app-container) {
  .scheduleAgendaContainer {
    border-top: 10px solid $rad-mercury;

    flex-basis: $calendar_flex_height_basis;
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .comingSoonText {
      color: $rad-dirtysheep;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      text-align: center;
      margin-bottom: 26px;
    }

    .comingSoonSvg{
      color: $rad-dirtysheep;
      font-size: 125px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      margin-bottom: -10px;
      text-align: center;
    }
  }
}
