@import "~styles/variables";
@import "~rad/styles/colors";
@import "~styles/mixins/LayoutMixins";
:global(#publishing-ui-app-container) {
    .selectedAccountContainer {
        display: flex;
        align-items: center;
        margin: 5px;

        :global(.multiPubsPopover.multiPubsPopoverArrowUp) {
          &:before {
            left: 18px;
          }
        }
    }

    .selectedAccount{
        padding-left: $standard_padding;
        padding-right: $standard_padding;
        height: 35px;
        line-height: 35px;
        border-radius: 3px;
        background-color: $rad-alabaster;
        border: solid 1px $rad-alto;
        display: inline-block;
        max-width: 300px;
        position: relative;

        .selectedAccountContent {
          @include spaced-centered-row;
          height: 35px;

          .authenticationWarningTooltip {
            font-family: 'Open sans';
          }

          .authenticationWarning {
            color: $rad-butternut;
            margin-left: 3px;
          }
        }

        &.selectedAccountHoverable {
          cursor: pointer;
        }
    }

    .networkIcon{
        font-size: 17px;
        display: inline-block;
        margin-right: 5px;

        @import "~styles/modules/partials/_networkIconColors.scss";
    }

    .accountName{
        display: inline;
        color: $rad-emperor;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .closeButton{
        display: inline;
        font-size: 7px;
        color: $rad-gray;
        padding-left: 5px;
        vertical-align: middle;
        cursor: pointer;
    }
}

:global(.rc-tooltip) {

  :global(.rc-tooltip-inner) {
    .credentialTooltipHeader {
      font-weight: bold;
    }

    .credentialList {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        &.moreCredentialsFooter {
          margin-top: 20px;
        }
      }
    }
  }

  &:global(.credential-popover-toggle-appear),
  &:global(.credential-popover-toggle-enter) {
    opacity: 0;
  }

  &:global(.credential-popover-toggle-appear-active),
  &:global(.credential-popover-toggle-enter-active) {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  &:global(.credential-popover-toggle-leave) {
    opacity: 1;
  }

  &:global(.credential-popover-toggle-leave-active) {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
}
