@import "~styles/variables";
@import "~rad/styles/colors";

:global(#publishing-ui-app-container) {
  .sidebarButtonContainer {
    flex-basis: $options_side_bar_button_height;
    flex-grow: 0;
    flex-shrink: 0;
    width: 72px;
    background-color: $rad-cloud;
  }

  .sidebarButton {
    position: relative;
    background-color: $rad-cloud;
    color: $rad-sidewalk;
    width: 100%;
    height: $options_side_bar_button_height;

    border:none;
    padding: 0;
    margin: auto;

    border-bottom: solid 1px $rad-gallery;
    border-right: solid 1px $rad-gallery;
  }

  .sidebarButton div {
    font-size: 23px;

    .icon-workflow {
      padding-bottom: 2px;
    }
  }

  .error {
    position: absolute;
    transform: scale(1.2);
    top: 7px;
    left: 13px;
    color: $rad-punch;
  }

  .sidebarButton .tooltiptext {
      margin: auto;
      font-family: Open Sans;
      font-size: 11px;
      font-weight: 600;
      color: $rad-sidewalk;
      background-color: $rad-cloud;
  }

  .activeButton, .activeButton .tooltiptext {
    color: $rad-tahiti;
  }

  .activeButton {
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
    z-index: $active_sidebar_button_index;
    background-color: $rad-snow;
    border-right: solid 1px $rad-snow;
  }

  .sidebarButton:hover, .sidebarButton:hover .tooltiptext{
    color: $rad-tahiti;
  }

  @keyframes fadein {
    0% {
      opacity: 0.0;
      height: 1px;
      max-height: 1px;
    }

    30% {
      opacity: 0.0;
      height: 50px;
      max-height: 50px;
    }

    50% {
      opacity: 0.30;
      height: $options_side_bar_button_height;
      max-height: $options_side_bar_button_height;
    }

    100% {
      opacity: 1.0;
      height: $options_side_bar_button_height;
      max-height: $options_side_bar_button_height;
    }
  }

  @keyframes fadeout {
    0% {
      opacity: 1.0;
      height: $options_side_bar_button_height;
      max-height: $options_side_bar_button_height;
    }

    100% {
      opacity: 0.0;
      height: 1px;
      max-height: 1px;
    }
  }

  .sfSidebarButtonEnter {
    animation-duration: 0.6s;
    animation-name: fadein;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .sfSidebarButtonExit {
    animation-duration: 0.5s;
    animation-name: fadeout;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}
