@import "~rad/styles/colors";
@import "~styles/variables";

:global(#publishing-ui-app-container) {

  .twitterTextCountdownContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; //-2px for border
    height: $countdown_div_height;
    padding-top: 5px;
    padding-right: 7px;
    text-align: right;
    color: $rad-dirtysheep;
    border-radius: $message_box_border_radius;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .warning {
    color: $rad-punch;
  }
}
