@import "~styles/variables";
@import "~styles/mixins/LayoutMixins";
@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .voiceListContainer {
    position: absolute;
    left: 0px;
    z-index: $voice_list_container_index;
    background-color: $rad-snow;
    width: 100%;
    border: 1px solid $rad-alto;
    border-top: 1px solid $rad-mercury;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    max-height: calc(100vh - #{$voicelist_calculated_height});

    overflow-y: auto;

    display: flex;
    flex-direction: column;
  }

  .voiceListParentDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: $voice_list_parent_div_container;
  }

  .voiceListHeader {
    overflow-y: visible;
    position: relative;
    border-bottom: 1px solid $rad-mercury;

    flex-basis: 80px;
    flex-grow: 0;
    flex-shrink: 0;

    .filteredAccountCount {
      @include spaced-centered-row;
      padding: 10px 20px;

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      .filterCount {
        color: $rad-dolphin;
      }

      .filterControls {
        @include spaced-centered-row;

        > p {
          color: $rad-chalice;
          margin-right: 8px;
        }

        .selectionFilters {
          margin-left: 7px;
          padding-left: 7px;
          border-left: 1px solid $rad-mercury;
        }

        .allButtonText {
          font-weight: 800;
          display: inline-block;
          margin-right: 5px;
        }

        .channelFilters, .selectionFilters {
          @include spaced-centered-row;

          button {
            border: none;
            color: $rad-snow;
            background-color: $rad-dirtysheep;
            margin: 0 5px;
            padding: 4px;
            font-size: 15px;
            border-radius: 4px;
            text-transform: uppercase;
            min-width: 25px;
            height: 25px;
            text-align: center;
            transition: background-color 0.2s ease;

            &:hover {
              background-color: rgba($rad-tahiti, 0.5);
            }

            &.googleplusDisabled {
              display: none;
            }

            &.filterButtonActive, &.twitterFilterActive, &.googleplusFilterActive,
            &.allSelectionActive, &.checkedSelectionActive, &.uncheckedSelectionActive {
              background-color: $rad-tahiti;

              &:hover {
                &:hover {
                  opacity: 1;
                }
              }
            }

            &.filterIconButton {
              font-size: 18px;
              padding: 3px;

              i {
                width: 0; // Fix for strange FF icon inconsistencies
              }

              &.allSelectionButton {
                min-width: 50px;
                display: flex;
                flex-direction: row;
              }

              &.channelIconButtonFacebook {
                font-size: 25px;
                padding: 0;
                background: $rad-snow;
                color: $rad-dirtysheep;
                transition: color 0.2s ease;

                &:hover {
                  color: rgba($rad-tahiti, 0.5);
                }

                &.facebookFilterActive {
                  color: $rad-tahiti;
                }

                i {
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }

    .quickSelectAndAdvancedOptions {
      @include spaced-centered-row;
      padding: 10px 20px;

      &.advancedOptionsRow {
        background-color: $rad-alabaster;
        border-top: 1px solid $rad-mercury;
      }

      .quickSelectWrapper {
        display: flex;

        & > span {
          padding: 0 10px;
        }

        .interactable {
          padding: 0;
          color: $rad-tahiti;
          cursor: pointer;
          border: 0;
          background: 0;
        }

        .interactable:disabled {
          color: $rad-chalice;
        }
      }
    }
  }

  .voiceScrollContainer {
    overflow: hidden;
  }

  .voicesLoadingContainer {
    width: 100%;
    position: relative;
    background-color: $rad-snow;
    border-top: 1px solid $rad-gallery;
    height: 50px;
    overflow: hidden;

    :global(.sf-LoadingAnimation) {
      background-color: transparent;
      left: -110px;

      :global(.pet1), :global(.pet2), :global(.pet3) {
        width: 40px;
      }
    }

    .voicesLoadingContentBox {
      width: 200px;
      margin: 0 auto;

      p {
        margin-top: 17px;
        font-weight: 600;
      }
    }
  }

  .loadingVoicesFinished {
    transition: height 200ms ease;

    .voicesLoadingContainer {
      display: none;
    }
  }

  .optionPickerWrapper {
    ul {
      margin: 0;
      padding: 0;
    }
  }

  .advancedOptionsEnter {
    opacity: 0.0;
    max-height: 0px;
  }

  .advancedOptionsEnterActive {
    opacity: 1;
    max-height: 200px;
    transition: all 200ms ease-in;
  }

  .advancedOptionsLeave {
    opacity: 1;
    max-height: 200px;
    transition: all 200ms ease-out;
  }

  .advancedOptionsLeaveActive {
    opacity: 0;
    max-height: 0;
  }
}
