@import "~styles/variables";
:global(#publishing-ui-app-container) {

  /** if possible, keep this as is, if you update also update the
    * elementHeight on InfiniteScroll in VoiceList.js
  **/
  .voice {
    height: 35px;
    padding: 5px 15px;
    cursor: pointer;
  }

  .voiceHolder,
  .uncheckedVoiceHolder{
    height: 20px;
    line-height: 20px;

    & > span {
      vertical-align: middle;
    }
  }

  .uncheckedVoiceHolder:hover{
    & > span:first-of-type{
      border-color: $rad-tahiti;
      border-width: 2px;
      border-style: solid;
    }
  }

  .voiceName{
    padding-left: 10px;
    font-weight: 600;
    color: $rad-emperor;
    vertical-align: middle;
  }

  .voiceCredentials{
    padding-top: 5px;
  }
}
