@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .facebookGenderTargetingContainer {
    margin-bottom: 16px;

    .title {
      margin-bottom: 8px;
    }

    .genderTargetingRadioButtonContainer {
      display: flex;
      flex-direction: row;

      button {
        border-radius: 50%;
      }
    }
  }
}
