@import "~styles/variables";
@import "~styles/mixins/LayoutMixins";

$link-margin: 10px;

:global(#publishing-ui-app-container) {
  .link {
    display: inline-block;
    color: $rad-tahiti;
    cursor: pointer;
    margin-top: $link-margin;

    &:hover {
      color: $rad-lake;
    }

    &:active {
      color: $rad-tijuana;
    }
  }

  .divider {
    @include divider;
    width: 100%;
    margin-top: $link-margin;
    margin-bottom: 0;
  }
}
