@import "~styles/variables";
@import "~styles/mixins/LayoutMixins";

$input-height: 30px;

:global(#publishing-ui-app-container) {

    .wrapper {
      margin-top: $menu-section-margin;

      .box {

        border: 1px solid $rad-dirtysheep;
        border-radius: 2px;

        .locations {

          position: relative;

          &.notEmpty {
            border-bottom: 1px solid $rad-dirtysheep;
          }

          .locationWrapper, .country {
            &.locationHighlightEnter {
              background-color: rgba($rad-tahiti, 0.5);
            }

            &.locationHighlightEnterActive {
              background-color: rgba($rad-tahiti, 0.0);
              transition: background-color 1500ms ease-out;
            }
          }

          max-height: 340px;
          overflow-x: hidden;
          overflow-y: auto;

          .country {
            margin: 10px 2px;
            margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
            padding-top: 5px;

            .countryHeader {

              position: relative;

               .remove {
                  display: none;
                  cursor: pointer;
                  color: $rad-dirtysheep;
                  padding: 0 2.5px;
                }

                &:hover {
                  color: $rad-tahiti;
                  background-color: $rad-mercury;

                  .remove {
                    display: block;
                    position: absolute;
                    right: 8px;
                    top: 3px;
                    transform: scale(0.7);
                  }
                }

              .countryDescription {
                padding: 0 10px;
                line-height: 19px;
                display: inline-block;
                width: 95%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }
        }

        .inputWrapper {

          position: relative;
          padding-top: 2px;

          .input {
            width: 100%;
            display: inline-block;
            position: relative;
            top: -2px;
            padding-right: 0;
            border: none;
          }
        }
      }

      :global(.rw-combobox.rw-widget .rw-popup.rw-widget ul li.rw-list-option.rw-list-option) {
        border-bottom: 1px solid $rad-mercury;
      }
    }
}
