@import "~styles/variables";

:global(#publishing-ui-app-container) {
  .facebookDarkPostContainer {
    line-height: 54px;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    background-color: $rad-alabaster;
    margin-bottom: 16px;
  }

  .facebookDarkPostDisabledContainer {
    margin-bottom: 16px;
  }
}
