@import "~styles/mixins/LayoutMixins";

:global(#publishing-ui-app-container) {

    .wrapper {
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 200px;
    }

    .header {
        @include sidebar-header;
        margin-bottom: 25px;
    }
}
