//
// Icon Font: publishingIcons
//

@font-face {
  font-family: "publishingIcons";
  src: url("../publishingIcons.eot");
  src: url("../publishingIcons.eot?#iefix") format("embedded-opentype"),
       url("../publishingIcons.woff") format("woff"),
       url("../publishingIcons.ttf") format("truetype"),
       url("../publishingIcons.svg#publishingIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "publishingIcons";
    src: url("../publishingIcons.svg#publishingIcons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-access-empty:before,
.icon-acct-filters-all-boxes:before,
.icon-acct-filters-selected:before,
.icon-acct-filters-selected-unselected:before,
.icon-acct-filters-unselected:before,
.icon-arrow-left-simple:before,
.icon-arrow-right-simple:before,
.icon-assignment:before,
.icon-basics:before,
.icon-cal-arrow-left:before,
.icon-cal-arrow-right:before,
.icon-cal-coming-soon:before,
.icon-calendar:before,
.icon-caret-down:before,
.icon-caret-up:before,
.icon-clock-circle-outline:before,
.icon-eye-pelorous:before,
.icon-folder:before,
.icon-grid-9:before,
.icon-label:before,
.icon-label-thick:before,
.icon-link:before,
.icon-links:before,
.icon-location:before,
.icon-modal-close-thick:before,
.icon-modal_close:before,
.icon-network-google-plus-bounds:before,
.icon-network-twitter-bounds:before,
.icon-no-edit:before,
.icon-no-image:before,
.icon-note:before,
.icon-note-thick:before,
.icon-planner:before,
.icon-play-button:before,
.icon-product-planner:before,
.icon-remove:before,
.icon-remove-bare:before,
.icon-targeting:before,
.icon-time:before,
.icon-video-title:before,
.icon-workflow:before {
  display: inline-block;
  font-family: "publishingIcons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-access-empty:before { content: "\f100"; }
.icon-acct-filters-all-boxes:before { content: "\f101"; }
.icon-acct-filters-selected:before { content: "\f102"; }
.icon-acct-filters-selected-unselected:before { content: "\f103"; }
.icon-acct-filters-unselected:before { content: "\f104"; }
.icon-arrow-left-simple:before { content: "\f105"; }
.icon-arrow-right-simple:before { content: "\f106"; }
.icon-assignment:before { content: "\f107"; }
.icon-basics:before { content: "\f108"; }
.icon-cal-arrow-left:before { content: "\f109"; }
.icon-cal-arrow-right:before { content: "\f10a"; }
.icon-cal-coming-soon:before { content: "\f10b"; }
.icon-calendar:before { content: "\f10c"; }
.icon-caret-down:before { content: "\f121"; }
.icon-caret-up:before { content: "\f122"; }
.icon-clock-circle-outline:before { content: "\f123"; }
.icon-eye-pelorous:before { content: "\f10d"; }
.icon-folder:before { content: "\f124"; }
.icon-grid-9:before { content: "\f125"; }
.icon-label:before { content: "\f10e"; }
.icon-label-thick:before { content: "\f10f"; }
.icon-link:before { content: "\f126"; }
.icon-links:before { content: "\f110"; }
.icon-location:before { content: "\f111"; }
.icon-modal-close-thick:before { content: "\f120"; }
.icon-modal_close:before { content: "\f112"; }
.icon-network-google-plus-bounds:before { content: "\f128"; }
.icon-network-twitter-bounds:before { content: "\f127"; }
.icon-no-edit:before { content: "\f113"; }
.icon-no-image:before { content: "\f114"; }
.icon-note:before { content: "\f115"; }
.icon-note-thick:before { content: "\f116"; }
.icon-planner:before { content: "\f117"; }
.icon-play-button:before { content: "\f118"; }
.icon-product-planner:before { content: "\f119"; }
.icon-remove:before { content: "\f11a"; }
.icon-remove-bare:before { content: "\f11f"; }
.icon-targeting:before { content: "\f11b"; }
.icon-time:before { content: "\f11c"; }
.icon-video-title:before { content: "\f11d"; }
.icon-workflow:before { content: "\f11e"; }

$font-publishingIcons-access-empty: "\f100";
$font-publishingIcons-acct-filters-all-boxes: "\f101";
$font-publishingIcons-acct-filters-selected: "\f102";
$font-publishingIcons-acct-filters-selected-unselected: "\f103";
$font-publishingIcons-acct-filters-unselected: "\f104";
$font-publishingIcons-arrow-left-simple: "\f105";
$font-publishingIcons-arrow-right-simple: "\f106";
$font-publishingIcons-assignment: "\f107";
$font-publishingIcons-basics: "\f108";
$font-publishingIcons-cal-arrow-left: "\f109";
$font-publishingIcons-cal-arrow-right: "\f10a";
$font-publishingIcons-cal-coming-soon: "\f10b";
$font-publishingIcons-calendar: "\f10c";
$font-publishingIcons-caret-down: "\f121";
$font-publishingIcons-caret-up: "\f122";
$font-publishingIcons-clock-circle-outline: "\f123";
$font-publishingIcons-eye-pelorous: "\f10d";
$font-publishingIcons-folder: "\f124";
$font-publishingIcons-grid-9: "\f125";
$font-publishingIcons-label: "\f10e";
$font-publishingIcons-label-thick: "\f10f";
$font-publishingIcons-link: "\f126";
$font-publishingIcons-links: "\f110";
$font-publishingIcons-location: "\f111";
$font-publishingIcons-modal-close-thick: "\f120";
$font-publishingIcons-modal_close: "\f112";
$font-publishingIcons-network-google-plus-bounds: "\f128";
$font-publishingIcons-network-twitter-bounds: "\f127";
$font-publishingIcons-no-edit: "\f113";
$font-publishingIcons-no-image: "\f114";
$font-publishingIcons-note: "\f115";
$font-publishingIcons-note-thick: "\f116";
$font-publishingIcons-planner: "\f117";
$font-publishingIcons-play-button: "\f118";
$font-publishingIcons-product-planner: "\f119";
$font-publishingIcons-remove: "\f11a";
$font-publishingIcons-remove-bare: "\f11f";
$font-publishingIcons-targeting: "\f11b";
$font-publishingIcons-time: "\f11c";
$font-publishingIcons-video-title: "\f11d";
$font-publishingIcons-workflow: "\f11e";
