@import "~styles/variables";

:global(#publishing-ui-app-container) {

  .locationResultDescription {
    font-size: 12px;
    color: $rad-emperor;
  }

  .locationResultSubType {
    font-size: 10px;
    color: $rad-dirtysheep;
  }
}
