@import "~styles/variables";

:global(#publishing-ui-app-container) {

  .location {
    display: flex;
    margin-top: 3px;
    padding-left: 5px;
    font-weight: normal;
    width: 100%;
    padding: 10px;

    &:hover {
      color: $rad-tahiti;
      background-color: $rad-mercury;
    }

    i {
      color: $rad-tahiti;
      margin-right: 5px;
      flex-basis: 5px;
      position: relative;
      top: 2px;
    }

    .description {
      flex: 1 1 0;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      line-height: 19px;
      position: relative;
      top: -1px;
    }

    .remove {
      display: none;
      flex-basis: 10px;
      cursor: pointer;
      font-size: 0.75em;
      position: relative;
      top: 2px;
    }

    &:hover {
      .remove {
        display: block;
        color: $rad-dirtysheep;
        margin-left: 3px;
        padding: 0 2.5px;
        padding-top: 2.5px;
      }
    }
  }
}
