@import "~styles/variables";
@import "~rad/styles/colors";
:global(#publishing-ui-app-container) {
  .barWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    border-left: $message_box_border_thickness solid $rad-dirtysheep;
    border-right: $message_box_border_thickness solid $rad-dirtysheep;
    border-bottom: $message_box_border_thickness solid $rad-dirtysheep;
    border-bottom-left-radius: $message_box_border_radius;
    border-bottom-right-radius: $message_box_border_radius;
    background: $rad-snow;
  }

  .tabBar {
    flex-basis: $network_bar_height;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &.expanded {
      background: $rad-cloud;
    }

    button {
      height: $network_bar_height;
      width: $network_bar_tab_button_width;
      font-size: 16px;
      font-weight: 600;
      color: $rad-tahiti;
      background: $rad-snow;
      border: none;
      border-left: $message_box_border_thickness solid $rad-mercury;
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        font-size: 28px;
      }

      span {
        font-size: 8px;
      }
    }

    .tabBarMessage {
      flex: 1;
      margin-left: $network_bar_left_margin;
      font-size: 12.5px;
      color: $rad-dirtysheep;
    }
  }

  .contentBar {
    display: flex;
    align-items: center;
    width: 100%;
    flex-basis: 0px;
    transition: flex $network_bar_transition;
    &.expanded {
      border-top: $message_box_border_thickness solid $rad-mercury;
      flex-basis: $network_bar_height;
    }

    .videoTitle {
      width: 80%;
      height: 0px;
      margin-left: $network_bar_left_margin;
      opacity: 0;
      transition: opacity $network_bar_transition;
      display: flex;
      align-items: center;

      div {
        width: 100%;
      }

      input {
        width: 100%;
        border: 0px none;
        outline: none;
        font-family: Open Sans;
        font-size: 16px;
      }

      &.expanded {
        opacity: 1;
      }
    }
  }
}
